.card{
    height: 95px;
    border-radius: 10px;
    padding: 10px;
    background-color: #1A1A1D;
    width: 200px;
    color: #E6E6E6;
}
.card span{
    font-size: 12px;
}
.card-inter{
    display: flex;
    justify-content: space-between;
}
.card-inter img{
    width: 40px;
    filter: contrast(30%);
}