main{
    margin-top: 60px;
}

main h1{
    margin-left: 100px;
}

.cards{
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 90vw;
}
.home-container{
    display: flex;
    margin: auto;
    gap:10px;
    justify-content: center;
    width: 90vw;
    margin-top: 50px;
}

.home-card{
    width: 40vw;
    border: 1px solid gray;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.home-card p{
    padding: 0 10px 10px 10px;
}
.home-card .head{
    padding: 0;
    border-bottom: 1px solid gray;
    padding-left: 20px;
    background-color: rgb(16, 137, 211);
    display: flex;
    height: 40px;
    align-items: center;
    color: white;
}