.main {
    margin-top: 60px;
}

main h1 {
    margin-left: 60px;
    color: #00FF00;
}

.cards {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 90vw;
}

.home-container {
    display: flex;
    margin: auto;
    gap: 10px;
    justify-content: center;
    width: 90vw;
    margin-top: 50px;
}

.home-card {
    width: 40vw;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #1A1A1D;
}

p {
    padding: 0 15px;
    color: #E6E6E6;
}

.head {
    padding: 0;
    border-bottom: 1px solid #0088FF;
    padding-left: 20px;
    display: flex;
    height: 40px;
    align-items: center;
    color: #0088FF;
}

/* Meet The Creators Section */
.creators {
    max-width: 80.5vw;
    margin: auto;
    background-color: #1A1A1D;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

.creator .head h3 {
    color: #0088FF;
}

.creators-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap;
}

.creator {
    text-align: center;
}

.creator img {
    width: 130px;
    border: 3px solid #E6E6E6;
    border-radius: 50%;
    object-fit: cover;
}
.creator img:hover {
    cursor: pointer;
    animation: glow-animation 1.5s infinite alternate ease-in-out;
}

/* Contact Section */
.contact {
    width: 100%;
    padding: 30px 0;
    text-align: center;
    margin-top: 50px;
}

.contact h3 {
    color: #0088FF;
    margin-bottom: 15px;
}

/* Social Media Icons */
.social-links {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social-links a {
    text-decoration: none;
    color: #E6E6E6;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.social-links a:hover {
    color: #0088FF;
}
