.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.url-input {
  display: flex;
  gap: 10px;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.result {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
}

.url-input input {
  width: 250px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.url-input input:focus {
  background: rgba(255, 255, 255, 0.9);
}

.url-input button {
  padding: 10px 20px;
  border: none;
  background: #ff5f6d;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
}

.url-input button:hover {
  background: rgb(16, 137, 211);
  transform: scale(1.1);
}

.url-input button:active {
  transform: scale(0.95);
}
