html, body, main{
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #0088FF;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00ff00;
}
